<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch">
    <arg name="world" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>